/*Add CSS styles here*/


/*title*/
h1.title {
    font-size: 50px;
    color: whitesmoke;
}


body {
    background: rgb(11,0,236);
    background: linear-gradient(90deg, rgba(11,0,236,1) 47%, rgba(0,0,0,1) 100%);
}




/*axis*/
.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.9em;
}


.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

/* lakes, states, and graticules*/
.lakes {
    fill: #FFF;
    stroke: #615e5e;
    stroke-width: 2px;
}

.states {
    fill: #CCC;
    stroke: #020202;
    stroke-width: 0.5px;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground {
    fill: #4c81e2;
}

/*map frame*/
.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
}


/* body and background */
body {
    background-color: white;
}

.first_paragraph {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*border for enumertaion units*/
.regions {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

/*chart*/
.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.chartBackground {
    fill: rgba(128,128,128,.2);
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.6em;
    fill: #999;
}

/*dropdown*/
.dropdown {
    position: absolute;
    top: 150px;
    left: 40px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

/*info lables*/
.infolabel {    margin: 0 20px 0 0;    position: absolute;
    height: 63px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

/*svg elements*/
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.map-container, .chart-container {
    display: flex;
    margin: 10px;
    align-items: left;
}

/*text*/
.text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: whitesmoke;
}

.first {
    margin-bottom: 20px;
}

.second, .third, .fourth, .fifth, .sixth, .seventh {
    margin-top: 10px; 
    margin-bottom: 20px; 
}


